.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

.box {
    font-family: sans-serif;
    height: 150px;
    width: 200px;
    padding: 2%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
